// colors
//$accentColor = #3eaf7c
$accentColor = #bd93f9
//$accentColor = #FF6B6B
//$textColor = #2c3e50
$textColor = #f8f8f2
$borderColor = #eaecef
//$codeBgColor = #eeeeee
$codeBgColor = #222222
$arrowBgColor = #ccc

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

// code
$lineNumbersWrapperWidth = 3.5rem
